/*

## Colors 
### Primary 
#### Text 

--clr-dark-blue: hsl(238, 29%, 16%);
--clr-soft-red: hsl(14, 88%, 65%);


#### Gradient Background gradient: 
--clr-soft-violet: hsl(273, 75%, 66%);
--clr-soft-blue: hsl(240, 73%, 65%) ;





### Neutral
#### Text


--clr-v-dark-greyblue: hsl(237, 12%, 33%);
--clr-dark-greyblue: hsl(240, 6%, 50%);


#### Dividers

--clr-lt-grayish-blue: hsl(240, 5%, 91%);



--ff-body: "Kumbh Sans", sans-serif;

--fs-400: 400;
--fs-700: 700;




*/